workflows/get-data-workflow.json
{
  "name": "Get All Data from PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Webhook - Get Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "get-data-webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "users",
        "additionalFields": {}
      },
      "id": "postgres-select",
      "name": "PostgreSQL - Select All Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Neon"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-data",
      "name": "Respond with Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook - Get Data": {
      "main": [
        [
          {
            "node": "PostgreSQL - Select All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Select All Users": {
      "main": [
        [
          {
            "node": "Respond with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}

